!!! 5
%meta(charset="utf-8")
%html
  %head
    %title Graph Database
    %link( rel="stylesheet" type="text/css" href="css/main.css" )
  %body
    #container
    %script(type="text/javascript" src="js/d3.v3.min.js" charset="utf-8")
    %script(type="text/javascript" src="js/keypress-1.0.9.min.js")
    %script(type="text/javascript" src="js/main.js")
